@import '../../breakpoints';

.cards-section {
  margin-left: 16px;
  min-width: 280px;

  @include respond-to-down(sm) {
    margin-left: 0;
    margin-top: 12px;
    min-width: unset;
  }

  .cards-container {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;

    @include respond-to-down(sm) {
      height: auto;
      max-height: unset;
    }
  }
}