.card-item {
  position: relative;
  max-width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: left;
  background: #D9D9D9;
  border: 1px solid #8C8C8C;
  border-radius: 8px;
  padding: 10px 16px;

  .close-button {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
  }

  .card-img-wrapper {
    height: 80%;
    width: auto;
    min-width: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .text-result-box {
    width: 100%;
    padding-left: 12px;
    line-height: 1.4;

    .card-title-wrapper {
      border-bottom: 1px solid #242424;
    }

    .result-text {
      font-weight: 500;
    }

    .time-stamp {
      font-size: 10px;
      color: darkslategray;
    }
  }
}


